body
{
    text-align: center;
    background-color: skyblue;
}

#Heading
{
    font-size: 60px;
    text-decoration: underline;
}

#HeadingDay
{
    font-size: 40px;
    text-decoration: wavy;
}

#HubLogo
{
    width: 310px;
    height: 310px;
}

table
{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    border: 5px solid #000;
    border-radius: 100px;
}

td, th {
    text-align: left;
    padding: 8px;
    font-size: 30px;
}

th 
{
    background-color: aliceblue;
    border-bottom: 3px solid #000;
}
td 
{
    background-color: cadetblue;
    
    border-bottom: 3px solid #000;
    border-bottom-style: dashed;
}

hr
{
    width: 20%;
    height: 5px;
    background-color: aliceblue;
    border-width: 5px;
}
